@import "~rfs/sass";
$pre: ".authPage-";

#{$pre}container {
    width: 100vw;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

    #{$pre}wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        #{$pre}changeFormLink {
            @include rfs(1rem, margin-top);
            cursor: pointer;
            text-decoration: none;
        }
        #{$pre}copyright {
            position: fixed;
            bottom: 0;
            width: 100%;
            @include rfs(0.5rem, margin-top);
            @include rfs(0.25rem, margin-bottom);
        }
    }
}
