@import "~rfs/scss";

.form-row {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    @include mq($from: tablet) {
        flex-direction: row;
        justify-content: space-between;
        > div:nth-of-type(2n) {
            @include rfs(0.5rem, margin-left);
        }
        > div:nth-of-type(2n + 1) {
            @include rfs(0.5rem, margin-right);
        }
    }
}

.form-column {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.category-chip {
    border: 1px solid rgb(138, 29, 29);
    border-radius: 3px;
    background: rgba(161, 39, 39, 0.75);
    color: #fff;
    padding: 0.1rem 0.25rem;
    width: max-content;
}
