$pre: ".table-actions-";

#{$pre}container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: max-content;

    #{$pre}edit-icon {
        fill:#1976d2;
    }

    #{$pre}delete-icon {
        fill: #d32f2f;
    }

    #{$pre}link-icon {
        fill: #a3a3a3;
    }
}
